.topMenuDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.topMenu {
    width: 100%;
    height: 100%;
    padding: 1px;
}

.menuButtonsPlace {
    width: 100%;
    height: 40px;
    /*background-color: black;*/
    /*opacity: 0.2*/
}

.chatContainer {
    width: 100%;
    height: 100%;
}

.arenaMenuPlate {
    width: 100px;
    height: 25px;
    border-radius: 9px;
    float: left;
    margin-right: 15px;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    opacity: 0.7;
}

.buttonFinishTurn {
    color: yellow;
    width: 130px;
}

.decampingButton {
    float: right;
    margin-right: 80px;
}

.weaponSelectorContainer {
    color: yellow;
    width: 130px;
    padding-top: 6px;
}

.weaponSelector {
    width: 100%;
    height: 22px;
    color: white;
}

.warriorInfoPanelBackground {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    border-radius: 15px;
    background-color: black;
    opacity: 0.4;
    z-index: 100;
}

.warriorInfoPanelInnerPanel {
    color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 15px;
    overflow: hidden;
    border-radius: 15px;
    z-index: 101;
}

.warriorInfoPanelParamNameTd {
    width: 135px;
    color: yellow;
    font-size: 14px;
    text-align: left;
    padding-left: 4px;
}

.warriorInfoPanelParamValueTd {
    width: 135px;
    color: white;
    font-size: 14px;
    text-align: right;
    padding-right: 4px;
}

.warriorInfoPanelInnerPanel table {
    width: 100%;
    height: 100%;
}
