.chatFormContainer {
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    border-right: 2px solid #303030;
    padding-right: 1em;
}

.blackStyle {
    background-color: black;
    color: orange;
    font-size: 17px;
    font-weight: bold;
}

.challengesToFightTable {
    width: 100%;
    height: 100%;
    background-color: black;
}

.challengeToFight {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.challengeToFightGamePlate {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.challengeOpenPlate {
    background-color: #294B00;
}

.challengeFightingPlate {
    background-color: #4b0004;
}

.challengeStagingPlate {
    background-color: #4b4100;
}

.challengeToFightGamePlate .gameName {
    width: 100%;
    height: 20px;
    color: #7B7FD4;
    font-size: 17px;
    text-align: left;
    padding-left: 20px;
}

.challengeToFightGamePlate .gameCreator {
    width: 100%;
    height: 20px;
    color: #d40236;
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
}

.buttonsChallengesToFightContainer {
    padding: 3px 30px;
    width: 100%;
    color: orange;
    font-weight: bold;
    font-size: 18px;
    padding-left: 50px;
}

.buttonChallengeToFight {
    cursor: pointer;
    float: left;
}

.mapSelector {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 26px;
}

.separator {
    background-color: orange;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.blockHeader {
    width: 100%;
    background-color: black;
    color: orange;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.paramTitle {
    color: yellow;
    padding-left: 10px;
    width: 300px;
}

.joinedPlayerPlate {
    border-radius: 4px;
    margin: 20px 13px 26px 10px;
    background-color: rgba(173, 0, 255, .5);
    box-shadow: 0px 0px 4px 4px rgba(173, 0, 255, 0.5);
    width: 300px;
    color: yellow;
    padding-left: 17px;
    cursor: default;
}

.paramValue {
    padding-right: 10px;
    color: white;
}

.field {
    width: 50px;
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 1px;
}

.selectWarriorTableHeaders {
    background-color: black;
    color: white;
    border-right: 1px solid #404040;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    text-align: center;
}

.selectWarriorTableCell {
    /*background-color: black;*/
    color: white;
    border-right: 1px solid #404040;
    padding-left: 4px;
    padding-right: 5px;
    /*cursor: default;*/
}

.warriorsListTable tbody {
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.warriorsListTable {
    background-color: black;
    width: 100%;
    height: 100%;
}

.warriorsListTable thead tr {
    display: block;
    width: 100%;
}

.challengeToFightFormParamRow {
    height: 20px;
    margin-top: 20px;
}

.blackSelector {
    background-color: black;
    color: white;
    width: 100%;
}

.artifactPlateIcon {
    float: left;
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background-color: black;
    margin: 10px 10px 10px 15px;
}

.artifactPlateSelected {
    box-shadow: 0px 0px 19px 15px rgba(173, 0, 255, .7);
}

.selectWarriorTableRowSelected {
    box-shadow: 0px 0px 2px 2px rgba(173, 0, 255, .5);
    background-color: rgba(173, 0, 255, .5);

}

.selectWarriorTableRowSelected td select {
    box-shadow: 0px 0px 2px 2px rgba(173, 0, 255, .5);
    background-color: rgba(173, 0, 255, .5);

}

.buttonArena {

}

